[Unit]
Description=Run Mini Warning Job Every Minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=mini_warning.service

[Install]
WantedBy=timers.target
