[Unit]
Description=Run Mini Warning Job Every 5 Minutes

[Timer]
OnUnitActiveSec=5min
Persistent=true
Unit=mini_warning.service

[Install]
WantedBy=timers.target