[Unit]
Description=NYT Crossword Data Collection Timer
Requires=nyt_bot.service

[Timer]
OnActiveSec=0
OnUnitActiveSec=60
AccuracySec=1

[Install]
WantedBy=timers.target 